  </main>

  <footer>
    <p id="Copyright">
      Copyright © <%= new Date().getFullYear() %> Dashen Govender
    </p>
  </footer>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script type="module" src="scripts/animations.js" charset="UTF-8"></script>
</body>

</html>